<!DOCTYPE html>
<html>
<head>

<title>Face Attendance System</title>

<link rel="stylesheet" href="/css/style.css">

</head>

<body>

<div class="navbar">

<a href="/">Home</a>
<a href="/register">Register</a>
<a href="/attendance">Attendance</a>

</div>

<div class="container">

<h1>Face Attendance System</h1>

<p>Automatic Face Recognition Attendance</p>

<img src="https://cdn-icons-png.flaticon.com/512/3135/3135715.png"
width="150">

<br><br>

<a href="/register">
<button>Register User</button>
</a>

<br><br>

<a href="/attendance">
<button>Mark Attendance</button>
</a>

</div>

</body>
</html>